/*

@media screen and (max-width: 700px){
	.card-header > label{font-size: 14pt; font-weight: bold;}
}

@media screen and (min-width: 701px){
	.card-header > label{font-size: 16pt;}
}

.card-header > div > img{
	display: inline-block;
	height: 40px;
}

.card-header > label{
	margin-top: 15px;
	display: block;
	font-family: 'arial narrow';
	color: #888888;
}
*/

.logo{
	height: 50px;
	margin: 20px 0px 0px 0px;
}
.page_over{
	background: rgba(255,255,255,0.8);
	position: fixed;
	left: 0px; top: 0px; right: 0px; bottom: 0px;
	overflow-y: auto;
}